.image_grid_item {
    width: 25%;
    /* height: calc(25vw + 2rem); */

    display: inline-block;
    text-decoration: none;
    

}

.image_grid_item img {
    /* width: 25vw; */
    width: 100%;
    height: 24vw;
    border: solid;
    border-width: 10px;
    border-color: #000000;
    object-fit: cover;
}

.image_grid_item p{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.image_grid_item a{
    text-decoration: none;
}